html{
    font-family: 'DM Sans', sans-serif;
}

.aside__titulo{
    margin-top:1.5rem;
}

.mr-2{
    margin-right: 2rem!important;
}

.tablaSeleccionada {
    background-color:#007BFF!important;
    color:white!important;
}
  
.tablaNoSeleccionada {
    background-color: #FFF!important;
    color:black!important;
}

.tituloCarta{
    font-size:2rem;
    text-align: center;
}

.informacionAdicional {
    margin-top:0.5rem;
    font-size:1rem;
}

.fondo{
    /* background-image: red!important; */
    background-image:url('../images/entrenamiento.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: calc(100vh - 56px);
    max-width:auto;
    opacity: 0.8;
    display:flex; 
    flex-direction:column; 
    /* position:relative; */
}

.login{
    background-color: white;
    padding:2rem;
    border-radius: 0.3rem;
    min-height:20rem;
    width:30rem;
}


.tituloCentrado{
    text-align: center!important;
}

.ph-6{
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}

.login__formulario{
    display:flex;
    justify-content: flex-end!important;
}

.bloque{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

h6{
    display:inline;
}

.with-breaks {
    white-space: pre-wrap !important;
}

.text-linea{
    display: inline;
}

.textNegrita{
    font-weight: bolder !important;
}

.visible-scrollbar, .invisible-scrollbar {
    display: block;
    height: calc(100vh - 56px);
    overflow: auto;
  }

.color003d85{
    background-color:#003d85
}
.color00ff00{
    background-color:#00ff00
}

.color028500{
    background-color:#028500
}

.color243F81{
    background-color:#243F81
}

.color7B0000{
    background-color:#7B0000
}
  
.colorbe1622{
    background-color:#be1622
}
  
.colorf39200{
    background-color:#f39200
}

.colorff0000{
    background-color:#ff0000
}

.colorffff00{
    background-color:#ffff00
}
